html, body {margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: small}
p, li { font-size: small }
span {margin: 2px}
.navbar {background-color: black; margin-bottom: 3px}
.title { color: floralwhite; font-family: 'Abril Fatface', cursive; font-size: 20px}
.form { height: 50%; width:70%; padding: 10px; position: relative; left: 48px}
.form-group {width: 40%}
.login-msg{position: relative; left: 48px}
.img-class{
width:40px;
height:40px
}
.spacer {
    flex: 1;
}
.footer {
    padding: 10px;
    width: 100%;

}