{% from 'bootstrap/form.html' import render_form %}

<!DOCTYPE html>
<html lang="en">

{# head #}

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Asset Tracker"/>
    <meta name="author" content="Bharat Kammakatla"/>
    <title>Asset Tracker</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    {{ bootstrap.load_css() }}
    {% endblock %}
    {% endblock %}
</head>

{# body #}
<body>
{# navigation bar #}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container my-2">
        <a href="{{ url_for('main.display_transactions') }}" class="navbar-brand title">Asset Tracker</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ url_for('main.display_transactions') }}" class="nav-link"> Home </a>
                </li>
                <li class="nav-item">
                    <a href=" {{ url_for('authentication.register_user') }} " class="nav-link">
                        Register </a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href=" {{ url_for('authentication.do_logout') }} " class="nav-item nav-link"> LogOut </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href=" {{ url_for('authentication.do_login') }} " class="nav-item nav-link"> LogIn </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="" class="nav-item nav-link">
                        {% if current_user.is_authenticated %}
                        Logged In as {{ current_user.user_name.title() }}
                        {% else %}
                        Not Logged In
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{# flash messaging #}
<div class="container my-2">
    <div class="row">
        <div class="col">
            {% for message in get_flashed_messages() %}
            <div class=" container alert alert-info my-flash-class">
                <button type="button" class="close" data-dismiss="alert"></button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{# empty block for custom content #}
{% block content %} {% endblock content %}


{% block footer %}
<footer id="sticky-footer" class="py-4">
    <div class="container text-center">
        <a target="_blank" href="https://github.com/BharatKammakatla/Sentiment-Analysis_Restaurant-Reviews"><i
                class="fab fa-github fa-lg contact-icon"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/bharatkammakatla"><i
                class="fab fa-linkedin fa-lg contact-icon"></i></a>
    </div>
    <div class="container text-center">
        <small>Made with ❤️ by <a href="https://bharatkammakatla.com">Bharat
            Kammakatla</a></small>
    </div>
</footer>
{% endblock %}


{# optional scripts #}
{% block scripts %}
<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>